@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer components{
  .customh1{
    @apply text-blue-500 bg-red-200
  }
 }
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


